.dashboard-root {
    -fx-background-color: #050816; /* Deep Dark Blue Solid */
    -fx-border-color: transparent rgba(255, 255, 255, 0.1) transparent transparent;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 5, 0); /* Stronger shadow to separate from bg */
}


.user-name {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Poppins', sans-serif;
}


.user-email {
    -fx-text-fill: #94a3b8;
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-family: 'Poppins', sans-serif;
}


.separator-line {
    -fx-stroke: rgba(255, 255, 255, 0.1);
}


.menu-item {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 10px 0;
}


.menu-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 10px;
}


.menu-icon {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-min-width: 30px;
    -fx-alignment: center;
}


.menu-text {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 600;
}

